---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Enrique Radero. All rights reserved.

	<div class="footer-links">
		<a href="/privacy">Política de Privacidad y Cookies</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: var(--ps-blue);
		color: var(--ps-white);
		text-align: center;
	}

	.legal-links {
		margin-top: 2em;
		font-size: 0.9em;
	}
	.legal-links a {
		color: var(--ps-white);
		text-decoration: none;
	}
	.legal-links a:hover {
		text-decoration: underline;
		color: var(--ps-cyan);
	}
</style>
