---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--ps-black);
		border-bottom: 1px solid var(--ps-shadow-black);
	}
	h2 {
		margin: 0;
		font-size: 1.2em;
		font-family: var(--font-family);
		font-weight: 700;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
		color: var(--ps-white);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1280px;
		margin: 0 auto;
	}
	nav a {
		padding: 1.5em 0.5em;
		color: var(--ps-white);
		font-size: 14px;
		font-weight: 500;
		border-bottom: 2px solid transparent;
		text-decoration: none;
		transition: color 0.2s, border-bottom-color 0.2s;
	}
	nav a:hover {
		color: var(--link-hover-blue);
	}
	nav a.active {
		border-bottom-color: var(--ps-blue);
		color: var(--ps-white);
	}
	.internal-links {
		display: flex;
		gap: 1.5em;
	}
</style>
